.student-list-template {
    background: white;
    width: 800px;
    height: 700px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* shadow */ 
    margin: 0 auto;     /* align in center */
    margin-top: 4rem;
    border-radius: 10px;

  }
  
.title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: #22b8cf;;
    color: white;
}

.form-wrapper {
    padding: 0.5rem;
}

.list-wrapper {
    min-height: 5rem;
    height:700px;

}


.inputTag {
    border:none;
    border-bottom: 1px solid #6d3939;
    font-size: 1rem;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.inputTag:focus {
    outline: none;
    
}

.tag {
    
    color:#555555;
    background-color: #bbbbbb;
    padding : 5px;
    margin : 5px;
    border-radius: 5px;
}